name: PR checks

on:
  pull_request:
    branches:
      - main

jobs:
  build-images:
    name: Build Images
    runs-on: ubuntu-20.04

    steps:
      - name: Build
        run: |
          echo "Building"
      
      - name: Wait for push
        uses: lewagon/wait-on-check-action@v0.2
        with:
          ref: main
          check-name: "Push Images"
          wait-interval: 30
      
      - name: Acceptance Tests
        run: |
          echo "Running Acceptance tests..."
          sleep 5
          echo "Done"
